<!Doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src=''></script>
		<meta charset="UTF-8">
		<title>Sign Up</title>
	</head>
	<body>
		<form method="POST" action= "/signup">
	      <label for="name">Username</label>
	      <input type="text" name="[user]name">
	      <label for="password">Password</label>
	      <input type="password" name="[user]password">
	      <label for="fname">First name</label>
	      <input type="text" name="[profile]fname">
	      <label for="lname">Last name</label>
	      <input type="text" name="[profile]lname">
	      <label for="age">Age</label>
	      <input type="integer" name="[profile]age">
	      <label for="email">Email</label>
	      <input type="text" name="[profile]email">
	      <input type="submit">
	    </form>
		
	</body>
</html>